
/SourceCode/.vs/OpenGrade/FileContentIndex
/SourceCode/.vs/OpenGrade/FileContentIndex
SourceCode/.vs/OpenGrade/FileContentIndex/read.lock
/SourceCode/.vs/OpenGrade/FileContentIndex
/SourceCode/.vs/OpenGrade
SourceCode/.vs/OpenGrade/FileContentIndex/27e43b7e-7dcb-42a4-be43-c56f86b3b046.vsidx
